@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#23b8ea 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,#23b8ea);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13{ 
  100%{transform: rotate(1turn)}
}

.scrool {
  max-height: 300px;
  overflow-y: auto;
  padding-right: 8px;
}

/* Custom scrollbar for Webkit browsers */
.scrool::-webkit-scrollbar {
  width: 6px;
}

.scrool::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.scrool::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  transition: background 0.3s ease;
}

.scrool::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Firefox scrollbar */
.scrool {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}


.slide-right {
    animation: slideRight 0.5s ease-in-out forwards;
  }
  
  @keyframes slideRight {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(2%);
    }
  }


  @keyframes fade-in {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .animate-fade-in {
    animation: fade-in 0.3s ease-out;
  }